{% extends './base.html' %}


{% block title %}
    Gestão de Estações de Trabalho
{% endblock title %}
    

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <b>Editar Estação de trabalho</b>
        <div class="card">
            <div class="card-body">
                <form action="/editarEstacao/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtNome" class="form-control" name="txtNome" value="{{estacao.nome}}" placeholder="nome">
                    </div>
                    <br>
                    <div class="form-group">
                     <input type="text" id="txtmodelo" class="form-control" name="txtmodelo" value="{{estacao.modelo}}" placeholder="modelo">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtserial" class="form-control" name="txtserial" value="{{estacao.serial}}" placeholder="serial">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtsetor" class="form-control" name="txtsetor" value="{{estacao.setor}}" placeholder="setor">
                    </div>  
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Enviar</button>
                    </div>
                        
                </form>

            </div>
        </div>
{% endblock body %}